.header {
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}

.menu-opciones {
  padding: 4 0;
  font-size: 1.3em;
  color: white;
  height: 7vh;
}

.perfil {
  width: 34vw;
  height: 33vh;
}

.navigation,
.lista-opciones,
.list-item {
  display: flex;
  flex-direction: column;
  padding: 3px 0px;
}
.marca-personal {
  margin: 10px 0px;
  padding: 0 0;
}
.navigation {
  background-color: rgba(0, 0, 0, 0.85);
}

.tituloDescriptivo {
  padding: 3.5vh 0;
  font-size: 4.4vh;
}
.subencabezado {
  font-size: 3.8vw;
}

.rs {
  font-size: 5vw;
}
