* {
  margin: 0vw;
  padding: 0vw;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(3, 5, 24);
  color: white;
}

.header {
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 56px;
  font-size: 18px;
}

.perfil {
  width: 180px;
  border-radius: 50%;
  margin: 16vh 0vw;
}

.contenido-uno,
.list-item,
.lista-opciones,
.navigation,
.header,
.footer,
.logos,
.proyectos-targetas,
.targetas,
.imagen-marca {
  display: flex;
  flex-wrap: wrap;
}

.menu-opciones,
.logos {
  color: rgb(3, 5, 24);
  letter-spacing: -0.2px;
  padding: 0vh 5vw 0vh 0vw;
  text-decoration: none;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

.profesion {
  background-color: white;
  color: rgb(3, 5, 24);
  padding: 4px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.tituloDescriptivo {
  box-sizing: border-box;
  font-size: 6vh;
  line-height: 50px;
  letter-spacing: -0.2px;
  text-transform: capitalize;
  width: 30vw;
  text-align: center;
  margin-right: 40px;
}

.subencabezado {
  font-size: 0.55em;
  letter-spacing: 0.2px;
}

.portafolio {
  padding: 1.4vh 0vw;
  letter-spacing: 1.2px;
  text-align: center;
  font-size: 15px;
}

.proyectos-targetas {
  width: 100vw;
}

.targetas:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.tituloDescriptivo:hover,
.perfil:hover {
  transform: scale(1.06);
  transition-duration: 0.15s;
}

.logos:hover,
.menu-opciones:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.contenido-uno {
  justify-content: center;
  align-items: center;
}

.footer {
  justify-content: space-evenly;
  background-color: white;
}

.logo-linkedin,
.logo-instagram,
.logo-facebook,
.logo-twiter,
.logo-whasap {
  width: 90px;
  margin: 20px 0px;
}

.rs {
  text-decoration: none;
  color: rgb(3, 5, 24);
  font-weight: bold;
  background-color: white;
  display: block;
  text-align: center;
  padding-top: 22px;
  font-size: 24px;
}

.contenido-uno,
.footer,
.portafolio,
.rs {
  width: 100vw;
}

.img-proyecto-uno,
.img-proyecto-dos,
.img-proyecto-tres {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.titulo-proyectos {
  padding: 5px 0px;
  text-align: center;
}

.proyectos-targetas {
  justify-content: space-evenly;
  margin: 4vh 0vw;
  text-align: center;
}

.targetas {
  text-align: center;
  width: 28vw;
  background-color: white;
  color: rgb(3, 5, 24);
  border-radius: 8px;
  justify-content: center;
  margin-left: 0;
}

.descripcion-targetas {
  width: 90%;
  margin-top: -3em;
  background-color: pink;
  height: 100px;
  color: rgb(3, 5, 24);
  text-align: center;
  margin-left: 0;
}

.skills,
.resultado-descripcion {
  padding: 5px 12px;
}

.imagen-marca,
.navigation {
  align-items: center;
  width: 49vw;
  height: 100%;
  justify-content: center;
}

.marca-personal {
  height: 100%;
  padding: 0.2em 0.5em 0.2em 0em;
}

.lista-opciones {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.miNombre-header {
  text-decoration: none;
  color: rgb(3, 5, 24);
  font-weight: bold;
}

.menu-opciones,
.miNombre-header {
  font-size: 20px;
}
