.header,
.navigation {
  width: 100%;
  justify-content: center;
}
.menu-opciones {
  padding: 0 0;
  font-size: 0.9em;
}

.perfil {
  width: 43vw;
  height: 32vh;
}

.logos {
  width: 28vw;
  height: 16vh;
}
.tituloDescriptivo {
  padding: 3vh 0;
  font-size: 1.2em;
}

.rs {
  font-size: 1em;
}

.subencabezado {
  font-size: 0.54em;
}
