.menu-opciones {
  font-size: 22px;
  width: 100%;
  padding: 0 0;
}

.tituloDescriptivo {
  font-size: 22px;
}
.subencabezado {
  font-size: 12px;
}

.perfil {
  width: 130px;
}

.logo-linkedin,
.logo-instagram,
.logo-facebook,
.logo-twiter,
.logo-whasap {
  width: 60px;
  margin: 10px 4px;
}

.logos {
  margin: 2px 0px;
  height: 18vh;
}

.rs {
  font-size: 16px;
}
