.portafolio {
  font-size: 2vh;
}
.proyectos-targetas {
  width: 100vw;
  margin: 0 0;
}

.perfil {
  width: 20vw;
  margin: 10vh 2vw;
  height: 36vh;
}

a .logos {
  width: 10vw;
}

.logo-whasap,
.logo-linkedin,
.logo-instagram,
.logo-facebook,
.logo-twiter {
  width: 8vw;
}

.marca-personal {
  width: 8vw;
}

.tituloDescriptivo {
  font-size: 1.6em;
}

.descripcion-targetas {
  margin: -2em 0 0 0;
  height: 100px;
  color: rgb(3, 5, 24);
  text-align: center;
}

.targetas {
  margin: 2vh 0vw;
  width: 45%;
}

.header {
  padding: 0 0;
}
