.header {
  height: 10vh;
}

.tituloDescriptivo {
  width: 50vw;
  font-size: 6vh;
  line-height: 7vh;
  letter-spacing: -0.1px;
}
.subencabezado {
  font-size: 0.6em;
}

.perfil {
  width: 18vw;
}

.logos {
  padding: 0vh 0vw;
  font-size: 3.5vh;
}

.logo-whasap,
.logo-linkedin,
.logo-instagram,
.logo-facebook,
.logo-twiter {
  width: 10vw;
}

div {
  margin-left: 3.8vw;
}
