.portafolio {
  font-size: 12px;
}
.proyectos-targetas {
  width: 100vw;
  margin: 0 0;
}

.perfil {
  width: 150px;
  margin: 50px 5px;
}

a .logos {
  width: 10vw;
}

.logo-whasap,
.logo-linkedin,
.logo-instagram,
.logo-facebook,
.logo-twiter {
  width: 76px;
}

.marca-personal {
  width: 58px;
}

.tituloDescriptivo {
  font-size: 30px;
  line-height: 40px;
  width: 320px;
  padding-top: 23px;
}

.descripcion-targetas {
  margin: -2em 0 0 0;
  height: 100px;
  color: rgb(3, 5, 24);
  text-align: center;
}

.targetas {
  margin: 2vh 0vw;
  width: 45%;
}

.header {
  font-size: 18px;
}

.menu-opciones {
  font-size: 18px;
  padding: 0 13px 0 0;
}

.subencabezado {
  font-size: 15px;
}

.rs {
  font-size: 20px;
}

.imagen-marca {
  width: 43%;
}

.navigation {
  width: 57%;
}

.lista-opciones {
  text-align: center;
  justify-content: space-evenly;
}
