.header,
.navigation {
  width: 100%;
  justify-content: center;
}
.menu-opciones {
  padding: 0 0;
  font-size: 0.9em;
}

.perfil {
  width: 120px;
}

.logos {
  width: 28vw;
  height: 16vh;
}
.tituloDescriptivo {
  padding: 10px 0;
  font-size: 20px;
}

.rs {
  font-size: 16px;
}

.subencabezado {
  font-size: 12px;
}
.marca-personal {
  width: 44px;
}

.portafolio {
  font-size: 11px;
}
