.header {
  height: 58px;
  text-align: center;
  margin-right: 0;
}

.menu-opciones {
  padding: 4 0;
  font-size: 1.3em;
  color: white;
  height: 7vh;
}

.perfil {
  width: 130px;
}

.navigation,
.lista-opciones,
.list-item {
  display: flex;
  flex-direction: column;
  padding: 3px 0px;
}
.marca-personal {
  width: 50px;
  padding: 4px 0;
}
.navigation {
  background-color: rgba(0, 0, 0, 0.85);
}

.tituloDescriptivo {
  padding: 22px 0;
  font-size: 24px;
}
.subencabezado {
  font-size: 14px;
}

.rs {
  font-size: 20px;
}

.portafolio {
  font-size: 12px;
}

.logo-linkedin,
.logo-instagram,
.logo-facebook,
.logo-twiter,
.logo-whasap {
  width: 62px;
  margin: 10px 7px;
}
